* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template: 100px 600px 100px / 25% 75%;
    gap: 5px;
}
header {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 20px;
    grid-column: 1 / 3;
}
aside {
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 5px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
main {
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 5px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
footer {
    background: purple;
    color: white;
    padding: 20px;
    border-radius: 5px;
    grid-column: 1 / 3;
}
