.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    width: 60%;
    position: relative;
}
.input p {
    margin: 0 0 0.5rem 0;
    background-color: white;
    position: absolute;
    top: -0.625rem;
    padding: 0 1rem;
}
