.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding-top: 3rem;
}
.header h1 {
    width: fit-content;
    color: white;
    margin-bottom: 2rem;
}
.header a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
.header a:hover {
    background-color: white;
    color: rgb(170, 51, 170);
}
